    button.buttonAdmin {
        -webkit-appearance: button;
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: buttontext;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        background-color: buttonface;
        box-sizing: border-box;
        margin: 0em;
        font: 400 13.3333px Arial;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: buttonface;
        border-image: initial;
        width: 20%;
    }
    
    body {
        background-color: black;
    }
    
    button.buttonInsert {
        -webkit-appearance: button;
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: buttontext;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        background-color: buttonface;
        box-sizing: border-box;
        margin: 0em;
        font: 400 13.3333px Arial;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: buttonface;
        border-image: initial;
        width: 20%;
        float: right;
    }
    
    button {
        -webkit-appearance: button;
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: buttontext;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        background-color: buttonface;
        box-sizing: border-box;
        margin: 0em;
        font: 400 13.3333px Arial;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: buttonface;
        border-image: initial;
        width: 60px;
    }
    
    button.Play {
        -webkit-appearance: button;
        -webkit-writing-mode: horizontal-tb !important;
        cursor: pointer;
        background-color: black;
        border-radius: 20px;
    }
    
    div.containerC {
        display: flex;
    }
    
    .containerMusic {
        height: 100%;
        background-color: white;
        width: 80%;
        display: flex;
        float: left;
        justify-content: space-between;
    }
    
    .pozitionare {
        display: block;
    }
    
    div.showOneAlbum {
        background-color: white;
    }
    
    div.showOneGen {
        background-color: white;
    }
    
    div.showOneArtist {
        background-color: white;
    }
    
    div.showOneMelodie {
        background-color: white;
    }
    
    .video-player-embed {
        display: block;
        position: absolute;
        bottom: 30px;
        right: 10px;
        border: 10px solid green;
        border-radius: 20px;
    }
    
    button.closeVideo {
        position: relative;
        background-color: #f4511e;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.8;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        border-radius: 20px;
    }
    
    button.closeVideo:hover {
        opacity: 1
    }
    
    .pozitionare .video-player-inner-wrap {
        position: fixed;
        z-index: 3000002;
    }
    
    .video-player-inner-wrap {
        bottom: 10px;
        float: right;
        z-index: 99 !important;
        right: 10px;
    }
    
    a.form-inline {
        height: 100px;
        display: flex;
        width: 200px;
        /* margin: auto; */
        border: 0px solid green;
        /* padding: 10px; */
        /* float: left;*/
    }
    
    a.form-inline div.second {
        display: flex;
        width: 100%;
        align-content: space-between;
        border-color: red;
    }
    
    .Melodie .second .ver {
        background-color: red;
        display: inline;
        width: 100px;
        height: 100px;
    }
    
    .Melodie .first button svg {
        width: 100%;
        height: 100%;
        color: #bf2e2e;
        background-color: blue;
        border-radius: 20px;
    }
    
    .Melodie .first {
        background-color: black;
        height: 50px;
        float: right;
        border-radius: 20px;
    }
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content */
    
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    /* The Close Button */
    
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    .outer {
        background-color: black;
        margin-bottom: 15px;
    }
    
    .wrap {
        overflow: hidden;
        flex: 4;
        flex-flow: row wrap;
        width: 80%;
        margin: 0 auto;
        background-color: black;
        display: flex;
    }
    
    .listMusic .second .ver {
        background-color: red;
        display: inline;
        width: 100px;
        height: 100px;
    }
    
    .listMusic .first button svg {
        width: 100%;
        height: 100%;
        color: #bf2e2e;
        background-color: blue;
        border-radius: 20px;
    }
    
    .listMusic .first {
        background-color: black;
        height: 50px;
        float: right;
        border-radius: 20px;
    }
    
    .listMusic {
        width: 200px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        background-color: greenyellow;
        border-radius: 20px;
        margin: 5px;
    }
    
    .Melodie {
        width: 200px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        background-color: greenyellow;
        border-radius: 20px;
        margin: 5px;
    }
    
    .item2 {
        width: 23%;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        border-bottom: 0px solid red;
    }
    
    .Melodie:nth-child(4n + 1):after {
        content: "";
        position: absolute;
        left: 0;
        width: 500%;
        bottom: 0;
        border-bottom: 0px solid red;
    }
    
    @media (max-width: 768px) {
        .item:nth-child(2n + 1):nth-last-child(2):after,
        .item:nth-child(2n + 1):nth-last-child(1):after {
            display: none;
        }
        .item {
            width: 43%;
        }
    }
    
    @media (min-width: 768px) {
        .item:nth-child(4n + 1):nth-last-child(4):after,
        .item:nth-child(4n + 1):nth-last-child(4):after,
        .item:nth-child(4n + 1):nth-last-child(2):after,
        .item:nth-child(4n + 1):nth-last-child(1):after {
            display: none;
        }
    }