button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.Melodie {
    background-color: black;
}

.video-player-inner-wrap {
    position: relative;
}

@media (min-width: 768px) {
    .video-player .video-player--floating .video-player-embed {
        margin-top: -281px;
        width: 500px;
        height: 281px;
    }
}

@media (min-width: 768px) {
    .video-player.video-player--floating .video-player-embed,
    .video-player.video-player--in-place .video-player-embed {
        position: static;
        bottom: auto;
        left: auto;
    }
    .video-player-embed {
        display: block;
        position: absolute;
        width: 1px;
        height: 1px;
        bottom: 0;
        left: -10px;
    }
}

@media (min-width: 768px) {
    .video-player.video-player--floating {
        position: fixed;
        z-index: 3000002;
    }
}

.video-player {
    right: 20px;
    bottom: 20px;
    height: 0;
}

.video-player--floating .video-player-close {
    position: relative;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    vertical-align: top;
    display: inline-block;
    width: 16px;
    height: 16px;
    min-width: 0;
    text-align: left;
    display: block;
    position: absolute;
    top: -32px;
    right: -8px;
    width: 32px;
    height: 32px;
}

@media (min-width:768px) {
    .video-player.video-player--floating .video-player-embed,
    .video-player.video-player--in-place .video-player-embed {
        position: static;
        bottom: auto;
        left: auto
    }
    .video-player.video-player--hidden {
        display: none
    }
    .video-player.video-player--floating {
        position: fixed;
        z-index: 3000002
    }
    .video-player.video-player--floating .video-player-embed {
        margin-top: -281px;
        width: 500px;
        height: 281px
    }
    .video-player.video-player--in-place {
        width: 100%;
        left: 0;
        right: auto;
        position: absolute;
        z-index: 2
    }
    .video-player.video-player--in-place .video-player-inner-wrap {
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #fff;
        height: 0
    }
}

@media (min-width:768px) and (min-width:768px) {
    .video-player.video-player--in-place .video-player-inner-wrap {
        width: 980px
    }
}

@media (min-width:768px) and (min-width:992px) {
    .video-player.video-player--in-place .video-player-inner-wrap {
        width: 980px
    }
}

@media (min-width:768px) and (min-width:1260px) {
    .video-player.video-player--in-place .video-player-inner-wrap {
        width: 1230px
    }
}

@media (min-width:768px) and (min-width:768px) {
    .video-player.video-player--in-place .video-player-inner-wrap {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (min-width:768px) and (min-width:1260px) {
    .video-player.video-player--in-place .video-player-inner-wrap {
        padding-left: 30px;
        padding-right: 30px
    }
}

.video-player-inner-wrap {
    position: relative
}

.video-player-close {
    display: none
}

.video-player--floating .video-player-close {
    position: relative;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    vertical-align: top;
    display: inline-block;
    width: 16px;
    height: 16px;
    min-width: 0;
    text-align: left;
    display: block;
    position: absolute;
    top: -32px;
    right: -8px;
    width: 32px;
    height: 32px
}

.video-player--floating .video-player-close:before {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("/static/images/icons/video_close.f1a95cbca184.png");
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px
}

.video-player--floating .video-player-close--hidden {
    display: none
}

.player-bar {
    height: 60px;
    margin: 0;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    background: #000;
    color: #fff
}