    rss {
        display: block;
        font-family: verdana, arial;
        float: right;
        width: 20vh;
        font-size: 0.8em;
        border: 0.2em solid silver;
        background-color: black;
    }
    
    div.rss {
        float: right;
        display: grid;
        grid-gap: 20px;
    }
    
    div.mycontainer {}
    
    title {
        box-sizing: border-box;
        display: block;
        font-size: 1.2em;
        margin: 5px;
        padding: 2px;
        color: silver;
        background-color: green;
        border: 0.2em solid silver;
        word-break: break-all;
    }
    
    link {
        display: block;
        font-size: x-small;
        padding-left: 10px;
    }
    
    item {
        display: block;
        border: black solid 1em;
        border-radius: 0.5em;
        font-size: 0.6em;
    }
    
    docs {
        display: block;
        background-color: #ffffe6;
        margin: 20px;
        text-align: center;
        padding: 5px;
        color: #7f7f7f;
        border: 1px solid silver;
    }
    /* all hidden elements */
    
    language,
    lastBuildDate,
    ttl,
    guid,
    category,
    description,
    pubDate {
        display: none;
    }