<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mum4</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Top navigation -->
            <div class="topnav">

                <!-- Centered link -->
                <div class="topnav-centered">
                    <button type"button" class="buttonPulse" style="text-align:center">  </button>
                </div>

                <!-- Left-aligned links (default) -->

                <input type="button" onclick="window.location.href='/Registrations/AddOrEdit'" class="buttonMenu" value="Login" />
                <input type="button" onclick="window.location.href='/Registrations/AddOrEdit'" class="buttonMenu" value="Registration" />



                <!-- Right-aligned links -->
                <div class="topnav-right">

                    <input type="button" onclick="window.location.href='/Home/Contact'" class="buttonMenu" value="Contact" />

                    <button onclick="window.location.href='www.google.com'" class="buttonMenu">About</button>
                </div>

            </div>
        </div>
    </nav>



    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - mum4</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)



    <div data-hypernova-key="MastheadFooter" data-hypernova-id="70a847f1-3f0f-4d0d-8d28-62051039d3c4">
        <footer class="navbar-fixed-bottom">
            <nav class="svelte-1cgydzu">

                <div class="mh-country svelte-1cgydzu">
                    <a href="https://www.spotify.com/ro/select-your-country/" class="mh-footer-secondary svelte-1ouzkfx mh-compact" class="mh-compact">

                        Romania
                        <img src="https://masthead.scdn.co/065b62cfb94f49960e7c37413175e2bb/flags/ro.svg" alt="" class="svelte-11cxugd">

                    </a>
                </div>

                <div class="mh-bottom-links svelte-1cgydzu">
                    <ul class="svelte-19l7cif">
                        <li class="svelte-19l7cif">
                            <a href="https://www.spotify.com/ro/legal/" class="mh-footer-secondary svelte-1ouzkfx">
                                Legal
                            </a>
                        </li>
                        <li class="svelte-19l7cif">
                            <a href="https://www.spotify.com/ro/privacy/" class="mh-footer-secondary svelte-1ouzkfx">
                                Privacy Center
                            </a>
                        </li>
                        <li class="svelte-19l7cif">
                            <a href="https://www.spotify.com/ro/legal/privacy-policy/" class="mh-footer-secondary svelte-1ouzkfx">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="svelte-19l7cif">
                            <a href="https://www.spotify.com/ro/legal/cookies-policy/" class="mh-footer-secondary svelte-1ouzkfx">
                                Cookies
                            </a>
                        </li>
                        <li class="svelte-19l7cif">
                            <a href="https://www.spotify.com/ro/legal/privacy-policy/#s3" class="mh-footer-secondary svelte-1ouzkfx">
                                About Ads
                            </a>
                        </li>
                    </ul>
                    <span class="svelte-1so9ic8">
                        © 2020 Spotify AB
                    </span>
                </div>
            </nav>
        </footer>
    </div>
</body>
</html>