@model IEnumerable<mum5.Models.Registration>

@{
    ViewData["Title"] = "Registration";
}

<header></header>
<body>
    


    <div style="margin-top:50px;color:white;font-size:60px;position:center;text-align:center;">

    <ul>
             Registration Successful! 
            Thank you for registering.
    </ul>


    <a asp-action="AddOrEdit">Back to the start page</a>

    <p> <a asp-action="">Login</a></p>


    </div>

</body>

